body {
    padding: 10px;
    margin: 411px;
    margin-top: 0px;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgb(180, 47, 47);
}

p {
    font-size: 18px;
}

img {
    text-align: center; 
    }

table {
    
    width: 300px; 
    padding: 15px; 
    margin:auto;
}
td {
    border-style: dashed;
}

.colortext {
    color: blue;
}

h3 {
    text-align: center;
    color: white;
    background-color: black;

}